td, th {
  border: 1px solid black;
  padding: 8px;
}
  
.hometable{
  border-collapse: collapse;
  width: 90%;
  margin: auto;
  margin-top: 4rem;
}

.div_home_add_new_project{
  
  margin: 1rem;
  display:flex;
  justify-content: flex-end;
}

.edit-input {
  width: 100%;
  box-sizing: border-box;
}

.create-input {
width: 10%;
}

.div_hometable{
 
  display:flex;
  justify-content: center;
}


.hometable  th{
    max-width:35rem;
    
}

button{
  
  height: 20px;
  background-color: #004aad;
  color: white;
}