.div_modal_resourcebutton_table{
  margin: 1rem;
  display:flex;
  justify-content: flex-end;
}

.modal_resourcebutton_table{

    border-collapse: collapse;
    width: 100%;
    margin: auto;
    margin-top: 4rem;
   
}
.modal_resourcebutton_table td{
     
    max-width: 5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
   
}
